{% extends "base.html" %}


{% block title %} About {% endblock title %}


{% block content %}
    
    {% if not user.is_authenticated  %}
        <br>
        <a href="{% url 'home' %}" class="btn ghost-button">Back</a>
    {% endif %}    
    
    <div class="align-middle" style="color: #17BBD1; font-style: bold; font-size: 3rem;">DTS Manager</div>
    <div class="align-middle" style="color: #0d8d96">A Store Inventory System</div>
    <br><br>

    <div class="align-middle"> 
        <h2 style="color:#17BBD1">| About |</h3> <br>
            <p>
                DTS Manager is a Store inventory management system.
                This system is designed to manage inventory effectively by tracking both incoming and outgoing stock.
            </p>
        <br>
    </div>
        <h2 style="color:#17BBD1" class="align-middle">| Features |</h2> <br>
        <br>
        <div class="align-middle">
            <h2 style="color:#000000"></h2>
            <br>
            <p>
                The software boasts an engaging, interactive Chart that showcases the real-time availability of stock. Incoming transactions are seamlessly handled through the intuitive purchase functionality, while outgoing transactions are efficiently managed through the sales module. Every transaction performed within the software is meticulously recorded, ensuring a comprehensive audit trail. The dynamic billing feature allows for the generation of professional-looking invoices that can be easily printed. Furthermore, the software maintains separate profiles for suppliers, empowering users to streamline their business operations with precision and ease.
            </p>
    </div>

{% endblock content %}
